*.ex4
*.db
*.dat
*.chr
config/
history/
logs/
MQL4/Include/Arrays/
MQL4/Include/Canvas/
MQL4/Include/ChartObjects/
MQL4/Include/Charts/
MQL4/Include/Controls/
MQL4/Include/Files/
MQL4/Include/Indicators/
MQL4/Include/Strings/
MQL4/Include/Tools/
MQL4/Indicators/Examples/
MQL4/Scripts/
MQL4/.vscode/
profiles/
statements/
templates/
tester/*.ini
tester/caches
tester/files
tester/history
tester/logs
!*.set
origin.txt
*.sqbpro

/.idea/
