*.ex4
*.db
*.dat
*.chr
.idea/vcs.xml
.idea/MTCodeBase.iml
.idea/modules.xml
.idea/misc.xml
config/
history/
logs/
MQL4/Include/Arrays/
MQL4/Include/Canvas/
MQL4/Include/ChartObjects/
MQL4/Include/Charts/
MQL4/Include/Controls/
MQL4/Include/Files/
MQL4/Include/Indicators/
MQL4/Include/Strings/
MQL4/Include/Tools/
MQL4/Indicators/Examples/
MQL4/Scripts/
MQL4/.vscode/
python/.idea
profiles/
statements/
templates/
tester/*.ini
tester/caches
tester/files
tester/history
tester/logs
!*.set
backtest-reports/
origin.txt
*.sqbpro

/.idea/

/MQL4/Indicators/Accelerator.mq4
/MQL4/Indicators/Accumulation.mq4
/MQL4/Indicators/Alligator.mq4
/MQL4/Indicators/Awesome.mq4
/MQL4/Indicators/Bands.mq4
/MQL4/Indicators/Bears.mq4
/MQL4/Indicators/Bulls.mq4
/MQL4/Indicators/CCI.mq4
/MQL4/Indicators/Custom Moving Averages.mq4
/MQL4/Indicators/Ichimoku.mq4
/MQL4/Indicators/Heiken Ashi.mq4
/MQL4/Indicators/iExposure.mq4
/MQL4/Indicators/MACD.mq4
/MQL4/Indicators/Momentum.mq4
/MQL4/Indicators/OsMA.mq4
/MQL4/Indicators/Parabolic.mq4
/MQL4/Indicators/Stochastic.mq4
/MQL4/Indicators/ZigZag.mq4
/MQL4/Include/MovingAverages.mqh
/MQL4/Include/Object.mqh
/MQL4/Include/stderror.mqh
/MQL4/Include/stdlib.mqh
/MQL4/Include/StdLibErr.mqh
/MQL4/Include/WinUser32.mqh